$primary_color: red;
$secondary_color: blue;
$text_color: white;


div, nav, img, table, body, html, header, footer {
    font-size: 14px;
    color: $primary_color;
    background-color: $primary_color;
    td, th {
        color: $text_color;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $text_color;
        background-color: $secondary_color;
    }
}
img {
    position:sticky;
    display:flex;
    size: 12px;

}
%alert {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    color: black;
}

.success {
    @extend %alert;
    color: green
}

.failure {
    @extend %alert;
    color: red;
}

.warning {
    @extend %alert;
    color: orange;
}